<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recommendation">
            <h2><span>Recommendation</span> {{recommendation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{recommendation.content}}</span>
                </dd>
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{recommendation.identifier}}</span>
                </dd>
                <dt><span>Next Recommendation</span></dt>
                <dd>
                    <div *ngIf="recommendation.nextRecommendation">
                        <a [routerLink]="['/recommendation', recommendation.nextRecommendation?.id, 'view']">{{recommendation.nextRecommendation?.content}}</a>
                    </div>
                </dd>
                <dt><span>Next Questions</span></dt>
                <dd>
                    <span *ngFor="let nextQuestions of recommendation.nextQuestions; let last = last">
                        <a [routerLink]="['/question', nextQuestions?.id, 'view' ]">{{nextQuestions.question}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recommendation', recommendation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
