<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answer-heading">Create or edit a Answer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answer.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_answer">Answer</label>
                    <input type="text" class="form-control" name="answer" id="field_answer"
                        [(ngModel)]="answer.answer" required/>
                    <div [hidden]="!(editForm.controls.answer?.dirty && editForm.controls.answer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.answer?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_instructions">Instructions</label>
                    <input type="text" class="form-control" name="instructions" id="field_instructions"
                        [(ngModel)]="answer.instructions" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_annex">Annex</label>
                    <select class="form-control" id="field_annex" name="annex" [(ngModel)]="answer.annex" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="annexOption.id === answer.annex?.id ? answer.annex : annexOption" *ngFor="let annexOption of annexes; trackBy: trackAnnexById">{{annexOption.content}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_recommendation">Recommendation</label>
                    <select class="form-control" id="field_recommendation" name="recommendation" [(ngModel)]="answer.recommendation" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="recommendationOption.id === answer.recommendation?.id ? answer.recommendation : recommendationOption" *ngFor="let recommendationOption of recommendations; trackBy: trackRecommendationById">{{recommendationOption.content}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nextQuestion">Next Question</label>
                    <select class="form-control" id="field_nextQuestion" name="nextQuestion" [(ngModel)]="answer.nextQuestion" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === answer.nextQuestion?.id ? answer.nextQuestion : questionOption" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.question}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
