<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="caseSummary">
            <h2><span>Case Summary</span> {{caseSummary.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{caseSummary.dateCreated}}</span>
                </dd>
                <div *ngIf="caseSummary.acceptedByLogin == currentAccount.login">
                    <dt><span>User</span></dt>
                    <dd>
                        {{caseSummary.user.firstName}} {{caseSummary.user.lastName}} 
                    </dd>
                    <dd>
                        <fa-icon [icon]="'home'"></fa-icon>&nbsp;{{caseSummary.user.address}}
                    </dd>
                    <dd>
                        <fa-icon [icon]="'bell'"></fa-icon>&nbsp;{{caseSummary.user.contactNumber}}
                    </dd>
                    <dd>
                        <fa-icon [icon]="'envelope'"></fa-icon>&nbsp;{{caseSummary.user.email}}
                    </dd>
                </div>
                
                <div *ngIf="caseSummary.acceptedByLogin != null && caseSummary.acceptedByLogin != currentAccount.login">
                        <dt><span>Accepted by</span></dt>
                        <dd>
                            {{currentAccount.login}} - {{currentAccount.firstName}} {{currentAccount.lastName}}
                        </dd>
                </div>
                <dt><span>Module: </span> <span *ngIf="module">{{module.title}}</span></dt>
                <dd>
                    <div *ngIf="module">
                        <p>{{module.details}}</p>
                        <ng-template [ngIf]="caseSummary.acceptedByLogin == null && caseSummary.acceptedByLogin !== currentAccount.login">
                            <dt>Recommendations:</dt>
                            <ul>
                                <li *ngFor="let recommendation of recommendations"> 
                                    <div [innerHtml]="recommendation"></div>
                                </li>
                            </ul>
                        </ng-template>

                        <!-- if accepted by User -->
                        <ng-template [ngIf]="caseSummary.acceptedByLogin != null && caseSummary.acceptedByLogin === currentAccount.login">
                        <dt>Questions:</dt>
                        <ol>
                            <li *ngFor="let question of sortedQuestions"> 
                                <div [innerHtml]="question.question"></div>
                                <ul *ngFor="let answer of question.answers">
                                    <li *ngIf="caseSummary.answerIds.indexOf(answer.id) > -1">
                                        <div *ngIf="answer.answer" [innerHTML]="answer.answer"></div> 
                                        <br> 
                                        <div [innerHTML]="answer.instructions"></div>
                                        <div *ngIf="answer.recommendationContent">
                                            <b *ngIf="answer.recommendationContent">Recommendation:</b> 
                                            <div *ngIf="answer.recommendationContent" [innerHTML]="answer.recommendationContent"></div> 
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                        </ng-template>

                    </div>
                </dd>
                <div>
                    <dt><span>Details</span></dt>
                    <dd>
                        {{caseSummary.details}}
                    </dd>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" *ngIf="caseSummary.acceptedByLogin==undefined && false"
                    (click)="accept()"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Accept</span>
            </button>

            <button type="button" *ngIf="caseSummary.acceptedByLogin==undefined && !hasBeenAccepted"
                    (click)="offer()"
                    class="btn btn-primary" [disabled]="isOffered">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> {{isOffered?  'Already offered': 'Offer'}}</span>
            </button>

            <button *jhiHasAnyAuthority="['ROLE_ADMIN']" type="button"
                    [routerLink]="['/case-summary', caseSummary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
