<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registration</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Karappatan Team will get in touch with you for the activation of your account
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                        [(ngModel)]="registerAccount.firstName" maxlength="50">

                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="firstNameInput.errors.maxlength"
                       >
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                        [(ngModel)]="registerAccount.lastName" maxlength="50">

                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="lastNameInput.errors.maxlength"
                       >
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="contactNumber">Contact Number</label>
                    <input type="tel" class="form-control" id="contactNumber" name="contactNumber" #contactNumberInput="ngModel" placeholder="Contact number or Mobile number"
                            [(ngModel)]="registerAccount.contactNumber" minlength=7 maxlength=30 required>
                    <div *ngIf="contactNumberInput.dirty && contactNumberInput.invalid">
                        <small class="form-text text-danger" *ngIf="contactNumberInput.errors.required"
                              >
                            Your contact number is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="contactNumberInput.errors.minlength"
                             >
                            Your contact number is required to be at least 7 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="contactNumberInput.errors.maxlength"
                              >
                            Your contact number cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="address">Address</label>
                    <textarea class="form-control" id="address" name="address" #addressInput="ngModel" placeholder="Address"
                            [(ngModel)]="registerAccount.address" maxlength=254></textarea>
                    <div *ngIf="addressInput.dirty && addressInput.invalid">
                        <small class="form-text text-danger" *ngIf="addressInput.errors.maxlength"
                              >
                            Your address cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="rollNumber">Roll Number</label>
                    <input class="form-control" id="rollNumber" name="rollNumber" #rollNumberInput="ngModel" placeholder="Roll Number"
                            [(ngModel)]="registerAccount.rollNumber" maxlength=60 required />
                    <div *ngIf="rollNumberInput.dirty && rollNumberInput.invalid">

                        <small class="form-text text-danger" *ngIf="rollNumberInput.errors.required"
                               >
                            Your roll number is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="rollNumberInput.errors.maxlength"
                              >
                            Your roll number cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="expertise">Expertise</label>
                    <textarea class="form-control" id="expertise" name="expertise" #expertiseInput="ngModel" placeholder="Expertise"
                            [(ngModel)]="registerAccount.expertise" maxlength=200></textarea>
                    <div *ngIf="expertiseInput.dirty && expertiseInput.invalid">
                        <small class="form-text text-danger" *ngIf="expertiseInput.errors.maxlength"
                              >
                            Your Expertise cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="shortDescription">Short Description</label>
                    <textarea class="form-control" id="shortDescription" name="shortDescription" #shortDescriptionInput="ngModel" placeholder="Short Description"
                            [(ngModel)]="registerAccount.shortDescription" required></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="dateBarAdmissionAdmitted">Year Admitted</label>
                    <input class="form-control" id="dateBarAdmissionAdmitted" name="dateBarAdmissionAdmitted" #dateBarAdmissionAdmittedInput="ngModel" placeholder="Year only"
                            [(ngModel)]="registerAccount.dateBarAdmissionAdmitted" maxlength="4" minlength="4" />
                    <div *ngIf="dateBarAdmissionAdmittedInput.dirty && dateBarAdmissionAdmittedInput.invalid">
                        <small class="form-text text-danger" *ngIf="dateBarAdmissionAdmittedInput.errors.maxlength || dateBarAdmissionAdmittedInput.errors.minlength"
                              >
                            Invalid year
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
