<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-annex-heading">Create or edit a Annex</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!annex.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="annex.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                        [(ngModel)]="annex.content" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifier">Identifier</label>
                    <input type="text" class="form-control" name="identifier" id="field_identifier"
                        [(ngModel)]="annex.identifier" />
                    <div [hidden]="!(editForm.controls.identifier?.dirty && editForm.controls.identifier?.invalid)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="annex.url" />
                </div>

                <div class="form-group">
                    <label for="field_nextQuestions">Next Questions</label>
                    <select class="form-control" id="field_nextQuestions" multiple name="nextQuestions" [(ngModel)]="annex.nextQuestions">
                        <option [ngValue]="getSelected(annex.nextQuestions, questionOption)" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.content}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_module">Module</label>
                    <select class="form-control" id="field_module" name="module" [(ngModel)]="annex.moduleId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moduleOption.id" *ngFor="let moduleOption of modules; trackBy: trackModuleById">{{moduleOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
