<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="annex">
            <h2><span>Annex</span> {{annex.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{annex.content}}</span>
                </dd>
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{annex.identifier}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{annex.url}}</span>
                </dd>
                <dt><span>Next Questions</span></dt>
                <dd>
                    <span *ngFor="let nextQuestions of annex.nextQuestions; let last = last">
                        <a [routerLink]="['/question', nextQuestions?.id, 'view' ]">{{nextQuestions.content}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Module</span></dt>
                <dd>
                    <div *ngIf="annex.moduleId">
                        <a [routerLink]="['/module', annex.moduleId, 'view']">{{annex.moduleTitle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annex', annex.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
